<div class='row bg-light'>
  <ol class='post-list'>
    {{#each posts as |post|}}
      <li class='card border-dark'>
        <a href='/post/{{id}}'>
          <div
            class='card-header bg-dark text-light justify-space-between align-center'
          >
            <h1 class='fs-4'>{{title}}</h1>
            <p class='fs-6'>Posted by
              {{user.username}}
              on
              {{format_date created_at}}</p>
          </div>
          <div class='card-body-bg-light text-dark justify-center align-center'>
            <p class='fs-5'>{{content}}</p>
          </div>
        </a>
      </li>
    {{/each}}
  </ol>
</div>