<li class='card mb-5 col-10'>
  <a href='/post/{{id}}' class='text-decoration-none'>
    <div
      class='post-header card-header m-0 d-flex w-100 align-items-center justify-content-between text-dark font-monospace'
    >
      <h1 class='fs-5 m-0'>{{title}}</h1>
      <p class='fs-6 lh-1 m-0'>Posted by
        {{user.username}}
        on
        {{format_date created_at}}</p>
    </div>
    <div class='post-body bg-dark pt-3 mb-0 pb-1'>
      <p class='post-content fs-6 ms-3 lh-1'>{{content}}</p>
      <p
        class='post-comment-count fs-6 text-end me-3 lh-1 font-monospace'
      >{{comments.length}}
        {{format_plural 'comment' comments.length}}</p>
    </div>
  </a>
</li>